
html, body {
  margin:0;border:0;padding:0;
  font-size:16px;
  font-family:'Proxima';
  overflow-x:hidden;
  position: relative;
  vertical-align: baseline;
  text-align: center;
}

html {
    -webkit-font-smoothing: antialiased;
}

h1 {font-size:40px;}
h2 {font-size:36px;}
h3 {font-size:30px;}
h4 {font-size:24px;}
h5 {font-size:20px;}
h6 {font-size:18px;}

h2 {
  padding-bottom: 14px;
}

.accent {
  font-family: 'Proxima Bold';
  line-height: 14px;
  color: #60A9F0;
}

.bold {
	font-weight: bold;
}

.tm-border {
	border: 5px solid #fff;
	box-shadow: 2px 2px #000;
}

.shadow {
	text-shadow: 1px 1px #000;
}

.tm-title {
	color: #66CCFF;
}

.white {
  color: #fff;
}

.about,.details,
.blue-long,.donation-tile,
.donation-history, .fun-fact {
  padding: 40px;
  min-height: 330px;
}

.blue-long, .donation-tile,
.donation-history, .fun-fact {
  margin-top: 30px;
}

@font-face {
    font-family: 'Proxima';
    src: url(../fonts/ProximaNova-Regular.otf);
}

@font-face {
    font-family: 'Proxima Bold';
    src: url(../fonts/ProximaNova-Bold.otf);
}

/* preloader section */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
   width: 100%;
  height: 100%;
   z-index: 99999;
   display: -webkit-flex;
    display: -ms-flexbox;
   display: flex;
   -webkit-flex-flow: row nowrap;
   -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
     -webkit-justify-content: center;
    -blue-longack: center;
    justify-content: center;
    -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
    background: none repeat scroll 0 0 #fff;
  background: none repeat scroll 0 0 #f9f9f9;
}
.sk-spinner-wordpress.sk-spinner {
  background-color: #3366CC;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: relative;
  -webkit-animation: sk-innerCircle 1s linear infinite;
          animation: sk-innerCircle 1s linear infinite; }
.sk-spinner-wordpress .sk-inner-circle {
  display: block;
  background-color: #fff;
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 8px;
  top: 5px;
  left: 5px; }

@-webkit-keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

/* header section */
header {
  text-align: center;
  min-height: 400px;
  overflow: hidden;
  position: relative;
  padding-top: 160px;
  padding-bottom: 140px;
}
header img {
  display: inline-block !important;
  width: 70px;
}
header h2 {
  padding-top: 40px;
}
header hr {
  border-color: #3366CC;
  width: 100px;
}
header h1{
  font-family: 'Marck Script', cursive;
  font-size: 8rem;
}

/* about section */
.about {
  background: #fff;
  box-shadow: 0px 1px 5px rgba(50,50,50,0.08);

}

.about img{
  width: 225px;
  border-radius: 20%;
  margin: 10px auto;
}

.about .about-label{
  margin: 2rem 0;
  text-align: left;
}



/* details section */
.details {
  background: #3366CC;
  color: #f5f5f5;
  text-align: left;
}

.details strong {
  display: inline-block;
  font-weight: 900;
  padding-bottom: 6px;
}

.details p{
  width: 100%;
}

/* fun-fact */

.fun-fact{
  background: #fff;
 box-shadow: 0px 1px 5px rgba(50,50,50,0.08);
 border-radius: 20% ;
 min-height: 150px;
 text-align: center;
}


/* blue-long section */
.blue-long {
  background: #3366CC;
  color: #f5f5f5;
  text-align: center;
  -webkit-font-smoothing: antialiased;

}
.blue-long .blue-long-content {
  padding-bottom: 14px;
width: 100%;

}
.blue-long h5 {
  display: inline-block;
}
.blue-long span {
  padding-right: 10px;
  padding-left: 10px;
}




















/* donation-history section */
.donation-history {
  background: #fff;
 box-shadow: 0px 1px 5px rgba(50,50,50,0.08);
}
.donation-history h2 {
  text-align: left;
}






/* donation window popup */
.another-one{
  display: none;
}



/* donation category tiles */
.donation-tile {
  background: #fff;
 box-shadow: 0px 1px 5px rgba(50,50,50,0.08);
 border-radius: 20% ;
 min-height: 150px;
 text-align: center;
 color: black;

}


.donation-tile img{
  width: 45%;
}

.donation-tile:hover{
  border:20px solid black;
  border-radius: 20% ;
  border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 3s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;

}

a:hover{
  text-decoration: none;
}





/* form */


#donation-form {
  max-width: 90%;
  margin: 0 auto;
}



textarea,
input {
  border: none;
  outline: none;
  border-radius: 0;
  text-align: center;
  background: none;
  font-weight: 700;
  font-family: 'Lato', georgia;
  font-size: 25px;
  color: rgba(255, 255, 255, 1);
  max-width: 90%;
  padding: 1rem;
  border: 2px dashed rgba(255, 255, 255, 0);
  box-sizing: border-box;
  cursor: text;
}

textarea {
  text-align: left;


  resize: none;
  width: 90%;
  border-color: rgba(255, 255, 255, 0)
}

textarea:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px dashed rgba(255, 255, 255, 1);
}

textarea:focus:required:valid {
  border: 2px solid rgba(255, 255, 255, 0);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

textarea:required:valid {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

input {
  border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
}

input:required,
textarea:required {
  border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
}

input:focus {
  border-bottom: 2px dashed rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.2);
}

input:required:valid {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

input:required:invalid {
  color: rgba(255, 255, 255, 0.5);
}

::-webkit-input-placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

#slot1, #slot2, #slot3, #time1, #time2, #time3{
  cursor: pointer;
}

:-moz-placeholder {
  /* Firefox 18- */

  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

::-moz-placeholder {
  /* Firefox 19+ */

  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

:-ms-input-placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

.expanding {
  vertical-align: top;
}


/* form button */

#button-1{
  display: inline-flex;
  background-color: rgba(255, 0, 0, 0);
  height: 30px;
  width: 150px;
  border: 2px solid #BFC0C0;
  margin: 20px 20px 20px 20px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-decoration: none;
}

#button-1 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-1 p {
  position: relative;
  top: 5px;
  transition: all .35s ease-Out;
}

#slide {
  width: 100%;
  height: 100%;
  left: -200px;
  background: #BFC0C0;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
}

#button-1:hover #slide {
  left: 0;
}

#button-1:hover p {
  color: #2D3142;
}


/* sorry message */
#sorry{
  cursor: pointer;
}



/* footer section */
footer {
  color: #f9f9f9;
  text-align: center;
  padding-top: 140px;
  padding-bottom: 100px;
  font-family: 'Marck Script', cursive;
  font-size: 2rem;
}

footer img{
  width: 50px;
}







@media ( max-width: 980px ) {
  .details {
    margin-top: 30px;
  }
}

@media ( max-width: 360px ) {
  header h1 {
    font-size: 30px;
  }
  .about h2 {
    font-size: 24px;
  }
  .blue-long h4 {
    font-size: 20px;
  }
}
